@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-vrdznagir: var(--font-vrdznagir);
  --font-norkirk: var(--font-norkirk);
  --font-noto-armenian: var(--font-noto-armenian);
  --font-kotayk: var(--font-kotayk);
  --font-bidena: var(--font-bidena);
  --font-signature: var(--font-great-vibes);
  --font-adine: var(--font-adine);
  --font-inter: var(--font-inter);




}



.rad:checked+label {
  border: 1px solid #5B6142;
  color: #5b6142;
}






@media screen and (max-width:720px) {
  .medFlow {
    right: -200px;
  }

  .medTort {
    left: 64px;
  }

  .medBajak {
    right: 60px;
  }

  .medNamak {
    left: 56px;
  }

  .medPesa {
    right: 100px;
  }

  .medEkexeci {
    left: 88px;
  }

  /* .medQR {
    width: 602px;
    height: 402px;
  } */

  .medTr1 {
    left: 274px;
  }

  .medTr2 {
    left: 314px;
  }
}


@media screen and (max-width:680px) {
  .medFlow {
    right: -220px;
  }
  .medQrText {
    font-size: 18px;
  }

  .medBajak {
    right: 60px;
  }

  .medNamak {
    left: 0px;
  }

  .medPesa {
    right: 90px;
  }

  .medTr1 {
    left: 212px;
  }

  .medTr2 {
    left: 252px;
  }

  .medTimeP1 {
    font-size: 36px;
  }

  /* .medQR {
    width: 100%;
    height: 272px;
  } */

  .medTimeP2 {
    font-size: 14px;
  }
}

@media screen and (max-width:600px) {
  .medFlow {
    right: -260px;
  }

  .medTort {
    left: 34px;
  }

  .medBajak {
    right: 20px;
  }

  .medNamak {
    left: -20px;
  }

  .medTime {
    font-size: 54px;
  }

  .medTimeSm {
    font-size: 10px;
  }

  .medTimeP1 {
    font-size: 24px;
  }

  .medTr1 {
    left: 172px;
  }

  .medTr2 {
    left: 212px;
  }

  .medTimeP2 {
    font-size: 14px;
  }

  .medPesa {
    right: 50px;
  }

  .medEkexeci {
    left: 68px;
  }

  .medTrchun3 {
    left: 0;
  }

  .medTrchun1 {
    left: -100px;
  }

  .medTrchun2 {
    right: -100px;
  }

  .medMainText {
    font-size: 110px;
  }

  .medQrText {
    font-size: 16px;
  }

  /* .medQR {
    width: 502px;
    height: 380px;
  } */

}


@media screen and (max-width:540px) {
  .medFlow {
    right: -304px;
  }

  .medTort {
    left: 0px;
  }

  .medBajak {
    right: 0px;
  }

  .medPesa {
    right: 10px;
  }


  .medEkexeci {
    left: 34px;
  }

  .medPesa2 {
    width: 152px;
    height: 152px;
  }

  .medNamak2 {
    width: 200px;
    height: 166px;
  }

  .medBajak2 {
    width: 162px;
    height: 130px;
  }

  .medNkarText {
    font-size: 18px;
  }

  .medPar {
    width: 280px;
  }

  .medLogo {
    width: 320px;
  }

  .medMainText {
    font-size: 72px;
  }

  .medMapImg1 {
    width: 388px;
  }

  .medMapImg2 {
    width: 490px;
  }

  /* .medQR {
    width: 444px;
    height: 344px;
  } */

}



@media screen and (max-width:500px) {

  .medQrText {
    font-size: 14px;
  }

  /* .medQR {
    width: 400px;
    height: 300px;
  } */

  .medFlow {
    right: -324px;
  }

  .medTort {
    left: -6px;
  }

  .medNamak {
    top: 372px;
    left: 11px;
  }

  .medTrchun3 {
    left: -36px;
    width: 136px;
    height: 132px;
  }

  .medTrchun1 {
    left: -82px;
    width: 134px;
    height: 118px;
  }

  .medTrchun2 {
    right: -82px;
    width: 178px;
    height: 156px;
  }

  .medPesa2 {
    width: 152px;
    height: 152px;
  }

  .medNamak2 {
    width: 170px;
    height: 136px;
  }

  .medPar {
    width: 240px;
  }
}


@media screen and (max-width:480px) {
  .medBajak {
    right: 11px;
  }

  .medPesa {
    right: 10px;
  }

  .medTime {
    font-size: 48px;
  }

  .medTimeSm {
    font-size: 10px;
  }

  .medTimeP1 {
    font-size: 24px;
  }

  .medNamak {
    left: 22px;
  }

  .medTr1 {
    left: 134px;
  }

  .medTr2 {
    left: 174px;
  }

  .medTimeP2 {
    font-size: 12px;
  }

  .medMapText {
    font-size: 48px;
  }

  .medEkexeci {
    left: 34px;
  }

  .medEkexeci2 {
    width: 114px;
    height: 196px;
  }

  .medPesa2 {
    width: 134px;
    height: 134px;
  }

  .medBajak2 {
    width: 144px;
    height: 112px;
  }

  .medTort2 {
    width: 122px;
    height: 154px;
  }

  .medNkarText {
    font-size: 16px;
  }

  .medDaysText {
    font-size: 52px;
  }

  .medTrchunSc {
    width: 122px;
  }

}

@media screen and (max-width:450px) {
  .medQrText {
    font-size: 12px;
  }

  /* .medQR {
    width: 372px;
    height: 272px;
  } */
}

@media screen and (max-width:430px) {
  .medTort {
    left: -2px;
  }

  .medBajak {
    right: 10px;
  }

  .medNamak {
    left: 20px;
  }

  .medTrchun3 {
    left: -34px;
    width: 114px;
    height: 110px;
  }

  .medTime {
    font-size: 42px;
  }

  .medTimeSm {
    font-size: 9px;
  }

  .medTimeP1 {
    font-size: 22px;
  }

  .medTr1 {
    left: 104px;
  }

  .medTr2 {
    left: 144px;
  }

  .medTimeP2 {
    font-size: 10px;
  }

  .medTrchun1 {
    left: -72px;
    width: 112px;
    height: 96px;
  }

  .medTrchun2 {
    right: -62px;
    width: 156px;
    height: 134px;
  }

  .medLogo {
    width: 262px;
  }

  .medMainText {
    font-size: 52px;
  }

  .medTalkBgc {
    background-size: contain;
  }

  .medEkexeci2 {
    width: 110px;
    height: 192px;
  }

  .medPesa2 {
    width: 130px;
    height: 130px;
  }

  .medTort2 {
    width: 118px;
    height: 150px;
  }

  .medNkarText {
    font-size: 14px;
  }

  .medPar {
    width: 240px;
  }



  .medDaysText {
    font-size: 46px;
  }

  .medTrchunSc {
    width: 114px;
  }

  .medTalkWd {
    width: 384px;
    height: 304px;
  }

  .medTalk {
    height: 906px;
    padding-top: 102px;
  }



}



@media screen and (max-width:400px) {
  .medLink{
    width: 226px;
    font-size: 16px;
  }

  .medQrText {
    font-size: 10px;
  }

  /* .medQR {
    width: 330px;
    height: 230px;
  } */

  .medFlow {
    right: -334px;
  }

  .medBajak {
    right: 23px;
  }

  .medNamak {
    top: 372px;
    left: 18px;
  }

  .medPesa {
    right: 4px;
  }

  .medEkexeci {
    left: 29px;
  }

  .medTime {
    font-size: 38px;
  }

  .medTimeSm {
    font-size: 9px;
  }

  .medTimeP1 {
    font-size: 18px;
  }

  .medTr1 {
    left: 74px;
  }

  .medTr2 {
    left: 114px;
  }

  .medTimeP2 {
    font-size: 9px;
  }

  .medTrchun2 {
    width: 158px;
    height: 136px;
  }

  .medTalkTextP {
    width: 300px;
    font-size: 12px;
  }

  .medTalkBgc {
    top: -192px;
  }

  .medTalkText {
    font-size: 24px;
  }

  .medNamak2 {
    width: 126px;
    height: 104px;
  }

  .medBajak2 {
    width: 120px;
    height: 88px;
  }

  .medTalkWd {
    width: 304px;
    height: 224px;
  }
}



@media screen and (max-width:360px) {
  .medFlow {
    right: -354px;
  }

  .medTort {
    left: -2px;
    top: 692px;
  }

  .medBajak {
    right: 26px;
  }

  .medTime {
    font-size: 34px;
  }

  .medTimeSm {
    font-size: 7px;
  }

  .medTimeP1 {
    font-size: 18px;
  }

  .medTr1 {
    left: 74px;
  }

  .medTr2 {
    left: 114px;
  }

  .medTimeP2 {
    font-size: 8px;
  }

  .medNamak {
    top: 350px;
    left: 18px;
  }

  .medPesa {
    top: 202px;
    right: 5px;
  }

  .medEkexeci {
    top: 70px;
    left: 34px;
  }

  .medTrchun3 {
    left: -34px;
    width: 136px;
    height: 132px;
  }

  .medIntroNk {
    background-size: contain;
  }

  .medTrchun1 {
    left: -54px;
    top: 280px;
    width: 134px;
    height: 118px;
  }

  .medTrchun2 {
    right: -40px;
    width: 150px;
    height: 128px;
  }

  .medTalkTextP {
    width: 272px;
    font-size: 10px;
  }

  .medMainText {
    font-size: 68px;
  }

  .medEkexeci2 {
    width: 90px;
    height: 172px;
  }

  .medPesa2 {
    width: 110px;
    height: 110px;
  }

  .medNamak2 {
    width: 116px;
    height: 94px;
  }

  .medBajak2 {
    width: 110px;
    height: 78px;
  }

  .medTort2 {
    width: 100px;
    height: 132px;
  }

  .medNkarText {
    font-size: 14px;
  }

  .medTalkText {
    font-size: 20px;
  }

  .medPar {
    width: 220px;
  }

  .medLogo {
    width: 304px;
  }

  .medDaysText {
    font-size: 46px;
  }

  .medTrchunSc {
    width: 114px;
  }

  .medTalkWd {
    width: 324px;
    height: 246px;
  }

  .medTalk {
    padding-top: 72px;
  }
}




@media screen and (max-width:330px) {
  .medFlow {
    right: -364px;
  }

  .medTort {
    left: 0px;
    top: 688px;
  }

  .medBajak {
    right: 26px;
  }

  .medNamak {
    top: 350px;
    left: 23px;
  }


  .medTime {
    font-size: 28px;
  }

  .medTimeSm {
    font-size: 6px;
  }

  .medTimeP1 {
    font-size: 14px;
  }

  .medTr1 {
    left: 44px;
  }

  .medTr2 {
    left: 84px;
  }

  .medTimeP2 {
    font-size: 7px;
  }

  .medPesa {
    top: 202px;
    right: 11px;
  }

  .medEkexeci {
    top: 70px;
    left: 36px;
  }

  .medTrchun3 {
    left: -34px;
    width: 116px;
    height: 112px;
  }

  .medTrchun1 {
    left: -42px;
    top: 280px;
    width: 114px;
    height: 98px;
  }

  .medTrchun2 {
    right: -28px;
    width: 130px;
    height: 108px;
  }

  .medTalkTextP {
    width: 202px;
    font-size: 10px;
  }

  .medTalkBgc {
    top: -82px;
  }

  .medMainText {
    font-size: 62px;
  }

  .medEkexeci2 {
    width: 90px;
    height: 172px;
  }

  .medPesa2 {
    width: 110px;
    height: 110px;
  }

  .medNamak2 {
    width: 116px;
    height: 94px;
  }

  .medBajak2 {
    width: 110px;
    height: 78px;
  }

  .medTort2 {
    width: 100px;
    height: 132px;
  }

  .medNkarText {
    font-size: 12px;
  }

  .medPar {
    width: 220px;
  }

  .medLogo {
    width: 304px;
  }

  .medDaysText {
    font-size: 42px;
  }

  .medTrchunSc {
    width: 114px;
  }

  .medTalkWd {
    width: 304px;
    height: 224px;
  }
}