@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-vrdznagir: var(--font-vrdznagir);
  --font-norkirk: var(--font-norkirk);
  --font-noto-armenian: var(--font-noto-armenian);
  --font-kotayk: var(--font-kotayk);
  --font-bidena: var(--font-bidena);
  --font-signature: var(--font-great-vibes);
  --font-adine: var(--font-adine);
  --font-inter: var(--font-inter);




}



.rad:checked+label {
  border: 1px solid #5B6142;
  color: #5b6142;
}


@media screen and (max-height:852px) {
  .medMainText {
    font-size: 62px;
  }
}

@media screen and (max-height:736px) {
  .medMainText {
    font-size: 40px;
  }
}



@media screen and (max-width:720px) {
  .medFlow {
    right: -200px;
  }

  .medTort {
    left: 64px;
  }

  .medBajak {
    right: 60px;
  }

  .medNamak {
    left: 56px;
  }

  .medPesa {
    right: 100px;
  }

  .medEkexeci {
    left: 88px;
  }

  /* .medQR {
    width: 602px;
    height: 402px;
  } */

  .medTr1 {
    left: 274px;
  }

  .medTr2 {
    left: 314px;
  }
}


@media screen and (max-width:680px) {
  .medFlow {
    right: -220px;
  }

  .medQrText {
    font-size: 18px;
  }

  .medBajak {
    right: 60px;
  }

  .medNamak {
    left: 0px;
  }

  .medPesa {
    right: 90px;
  }

  .medTr1 {
    left: 212px;
  }

  .medTr2 {
    left: 252px;
  }

  .medTimeP1 {
    font-size: 36px;
  }


  .medTimeP2 {
    font-size: 14px;
  }

  .medQR {
    height: 272px;
  }
}

@media screen and (max-width:640px) {
  .medForm {
    width: 544px;
  }

  .medTalk {
    height: 800px;
  }

  .medFormTextH {
    font-size: 36px;
  }

  .medTalkBgc {
    height: 800px;
  }

  .medCount {
    height: 280px;
  }

  .medTime {
    font-size: 38px;
  }

  .medTimeSm {
    font-size: 10px;
  }

  .medTimeP1 {
    font-size: 22px;
  }

  .medTimeP2 {
    font-size: 14px;
  }

}

@media screen and (max-width:600px) {

  .medTr1P {
    font-size: 62px;
  }


  .medTimeP1 {
    font-size: 28px;
  }


  .medTimeP2 {
    font-size: 14px;
  }


  .medCount {
    height: 260px;
    padding-inline: 40px;
    padding-bottom: 100px;
    padding-top: 54px;
  }

  .medForm {
    width: 500px;
  }

  .medFormTextH {
    font-size: 32px;
  }

  .medFlow {
    right: -260px;
  }

  .medTort {
    left: 34px;
  }

  .medBajak {
    right: 20px;
  }

  .medNamak {
    left: -20px;
  }





  .medTr1 {
    left: 172px;
  }

  .medTr2 {
    left: 212px;
  }

  .medPesa {
    right: 50px;
  }

  .medEkexeci {
    left: 68px;
  }

  .medTrchun3 {
    left: 0;
  }

  .medTrchun1 {
    left: -100px;
  }

  .medTrchun2 {
    right: -100px;
  }

  .medMainText {
    font-size: 110px;
  }

  .medQrText {
    font-size: 16px;
  }

  /* .medQR {
    width: 502px;
    height: 380px;
  } */

}


@media screen and (max-width:540px) {

  .medForm {
    width: 472px;
    height: 494px;
  }

  .medFormWd {
    width: 400px;
  }

  .medFormTextH {
    font-size: 30px;
  }

  .medFlow {
    right: -304px;
  }

  .medTort {
    left: 0px;
  }

  .medBajak {
    right: 0px;
  }

  .medPesa {
    right: 10px;
  }


  .medEkexeci {
    left: 34px;
  }

  .medPesa2 {
    width: 152px;
    height: 152px;
  }

  .medNamak2 {
    width: 200px;
    height: 166px;
  }

  .medBajak2 {
    width: 162px;
    height: 130px;
  }

  .medNkarText {
    font-size: 18px;
  }

  .medPar {
    width: 280px;
  }

  .medLogo {
    width: 202px;
    height: 232px;
  }

  .medMainText {
    font-size: 72px;
  }

  .medTrchun3 {
    left: -36px;
    width: 134px;
    height: 130px;
  }

  .medTrchun1 {
    top: 122px;
    left: -118px;
    width: 118px;
    height: 112px;
  }

  .medNameImg {
    margin-top: -12px;
  }

  .medTrchun2 {
    right: -114px;
    width: 142px;
    height: 120px;
  }

  .medMapImg1 {
    width: 388px;
  }

  .medMapImg2 {
    width: 490px;
  }

  /* .medQR {
    width: 444px;
    height: 344px;
  } */


  .medTalkWd {
    width: 340px;
    height: 242px;
  }

  .medTalkText {
    font-size: 22px;
  }

  .medTalkTextP {
    font-size: 14px;
  }

}







@media screen and (max-width:500px) {

  .medTr1P {
    font-size: 58px;
  }


  .medTimeP1 {
    font-size: 24px;
    line-height: 34px;
  }


  .medTimeP2 {
    font-size: 12px;
  }


  .medCount {
    height: 240px;
    padding-inline: 40px;
    padding-bottom: 100px;
    padding-top: 34px;
  }

  .medFormTextH {
    font-size: 24px;
  }

  .medForm {
    width: 382px;
    height: 464px;
  }


  .medFormWd {
    width: 330px;
  }
  

  .medMapImgText {
    font-size: 16px;
  }

  .medMapImg1 {
    width: 350px;
  }

  .medMapImg2 {
    width: 452px;
  }

  .medQrText {
    font-size: 14px;
  }

  /* .medQR {
    width: 400px;
    height: 300px;
  } */

  .medFlow {
    right: -324px;
  }

  .medTort {
    left: -6px;
  }

  .medNamak {
    top: 372px;
    left: 11px;
  }



  .medPesa2 {
    width: 152px;
    height: 152px;
  }

  .medNamak2 {
    width: 170px;
    height: 136px;
  }

  .medPar {
    width: 240px;
  }

  .medFooter {
    width: 302px;
    height: 252px;
  }

  .medFooterContent {
    width: 272px;
  }

}


@media screen and (max-width:480px) {

  .medBajak {
    right: 11px;
  }

  .medPesa {
    right: 10px;
  }


  .medTimeSm {
    font-size: 10px;
  }

  .medNamak {
    left: 22px;
  }

  .medTr1 {
    left: 134px;
  }

  .medTr2 {
    left: 174px;
  }

  .medMapText {
    font-size: 48px;
  }

  .medEkexeci {
    left: 34px;
  }

  .medEkexeci2 {
    width: 114px;
    height: 196px;
  }

  .medPesa2 {
    width: 134px;
    height: 134px;
  }

  .medBajak2 {
    width: 144px;
    height: 112px;
  }

  .medTort2 {
    width: 122px;
    height: 154px;
  }

  .medNkarText {
    font-size: 16px;
  }

  .medDaysText {
    font-size: 52px;
  }

  .medTrchunSc {
    width: 122px;
  }

  .medFooterFlower {
    width: 900px;
  }

}

@media screen and (max-width:450px) {
  .medFooterFlower {
    width: 800px;
  }


  .medFormTextH {
    font-size: 22px;
  }

  .medForm {
    width: 330px;
    height: 440px;
  }

  .medFormText{
    font-size: 11px;
    height: 33px;
    margin-bottom: 0px;
  }

  .medFormHg{
    height: 33px;
  }


  .medFormWd {
    width: 282px;
    font-size: 14px;
  }

  .medMapImg2 {
    width: 412px;
  }

  .medQrText {
    font-size: 12px;
  }

  /* .medQR {
    width: 372px;
    height: 272px;
  } */



  .medTalk {
    height: 624px;
  }



}

@media screen and (max-width:430px) {



  .medFooterFlower {
    width: 740px;
  }


  .medFormTextH {
    font-size: 22px;
  }

  .medForm {
    width: 330px;
    height: 440px;
  }

  .medFormText{
    font-size: 11px;
    height: 33px;
    margin-bottom: 0px;
  }

  .medFormHg{
    height: 33px;
  }


  .medFormWd {
    width: 280px;
    font-size: 14px;
  }


  .medMapImg2 {
    width: 380px;
  }

  .medTort {
    left: -2px;
  }

  .medBajak {
    right: 10px;
  }

  .medNamak {
    left: 20px;
  }


  .medTrchun3 {
    left: -36px;
    width: 112px;
    height: 108px;
  }

  .medTrchun1 {
    top: 122px;
    left: -74px;
    width: 96px;
    height: 90px;
  }

  .medNameImg {
    margin-top: -12px;
  }

  .medTrchun2 {
    right: -74px;
    width: 124px;
    height: 102px;
  }

  .medTimeSm {
    font-size: 9px;
  }

  .medTimeP1 {
    font-size: 22px;
  }

  .medTr1 {
    left: 98px;
  }

  .medTr2 {
    left: 132px;
  }

  .medTimeP2 {
    font-size: 10px;
  }


  .medTr1P {
    font-size: 54px;
  }


  .medTimeP1 {
    font-size: 22px;
    line-height: 34px;
  }


  .medCount {
    height: 220px;
    padding-top: 34px;
  }

  .medLogo {
    width: 262px;
  }

  .medMainText {
    font-size: 64px;
  }

  .medEkexeci2 {
    width: 110px;
    height: 192px;
  }

  .medPesa2 {
    width: 130px;
    height: 130px;
  }

  .medTort2 {
    width: 118px;
    height: 150px;
  }

  .medNkarText {
    font-size: 14px;
  }

  .medPar {
    width: 240px;
  }



  .medDaysText {
    font-size: 46px;
  }

  .medTrchunSc {
    width: 114px;
  }

  .medTalk {
    padding-top: 102px;
  }


  .medTalkWd {
    width: 300px;
    height: 220px;
  }

  .medTalkText {
    font-size: 18px;
  }

  .medTalkTextP {
    width: 238px;
    font-size: 12px;
  }




}



@media screen and (max-width:400px) {


  .medFooter {
    width: 270px;
    height: 230px;
  }

  .medFooterContent {
    width: 250px;
  }



  .medTr1P {
    font-size: 52px;
  }

  .medTr1 {
    left: 98px;
  }

  .medTr2 {
    left: 132px;
  }



  .medCount {
    height: 200px;
    padding-top: 25px;
  }

  .medFooterFlower {
    width: 700px;
  }




  .medFormTextH {
    font-size: 20px;
  }

  .medForm {
    width: 302px;
    height: 402px;
  }

  .medFormText{
    font-size: 11px;
    height: 29px;
  }

  .medFormHg{
    height: 26px;
  }


  .medFormWd {
    width: 270px;
    font-size: 14px;
  }


  .medMapImgText {
    font-size: 14px;
  }

  .medMapImg1 {
    width: 330px;
  }

  .medMapImg2 {
    width: 370px;
  }

  .medLink {
    width: 226px;
    font-size: 16px;
  }

  .medQrText {
    font-size: 10px;
  }

  /* .medQR {
    width: 330px;
    height: 230px;
  } */

  .medFlow {
    right: -334px;
  }

  .medBajak {
    right: 23px;
  }

  .medNamak {
    top: 372px;
    left: 18px;
  }

  .medPesa {
    right: 4px;
  }

  .medEkexeci {
    left: 29px;
  }

  .medTime {
    font-size: 38px;
  }

  .medTimeSm {
    font-size: 9px;
  }

  .medTimeP1 {
    font-size: 18px;
  }

  .medTr1 {
    left: 74px;
  }

  .medTr2 {
    left: 106px;
  }

  .medTimeP2 {
    font-size: 9px;
  }

  .medNamak2 {
    width: 126px;
    height: 104px;
  }

  .medBajak2 {
    width: 120px;
    height: 88px;
  }


  .medTrchun3 {
    left: -36px;
    width: 112px;
    height: 108px;
  }

  .medTrchun1 {
    top: 122px;
    left: -52px;
    width: 74px;
    height: 90px;
  }

  .medNameImg {
    margin-top: -12px;
  }

  .medTrchun2 {
    right: -52px;
    width: 102px;
    height: 102px;
  }


  .medTalkWd {
    width: 272px;
    height: 202px;
  }

  .medTalkText {
    font-size: 18px;
  }

  .medTalkTextP {
    width: 238px;
    font-size: 11px;
  }
}



@media screen and (max-width:360px) {

  .medFooterFlower {
    width: 642px;
  }



  .medMapImgText {
    font-size: 14px;
  }

  .medMapImg1 {
    width: 300px;
  }

  .medMapImg2 {
    width: 330px;
  }

  .medFlow {
    right: -354px;
  }

  .medTort {
    left: -2px;
    top: 692px;
  }

  .medBajak {
    right: 26px;
  }

  .medTime {
    font-size: 34px;
  }

  .medTimeSm {
    font-size: 7px;
  }

  .medTimeP1 {
    font-size: 18px;
  }

  /* .medTr1 {
    left: 74px;
  }

  .medTr2 {
    left: 114px;
  } */

  .medTrchun3 {
    left: -36px;
  }

  .medTrchun1 {
    left: -20px;
  }

  .medTrchun2 {
    right: -20px;
  }

  .medTimeP2 {
    font-size: 8px;
  }

  .medNamak {
    top: 350px;
    left: 18px;
  }

  .medPesa {
    top: 202px;
    right: 5px;
  }

  .medEkexeci {
    top: 70px;
    left: 34px;
  }



  .medIntroNk {
    background-size: contain;
  }



  .medEkexeci2 {
    width: 90px;
    height: 172px;
  }

  .medPesa2 {
    width: 110px;
    height: 110px;
  }

  .medNamak2 {
    width: 116px;
    height: 94px;
  }

  .medBajak2 {
    width: 110px;
    height: 78px;
  }

  .medTort2 {
    width: 100px;
    height: 132px;
  }

  .medNkarText {
    font-size: 14px;
  }

  .medPar {
    width: 220px;
  }

  .medLogo {
    width: 304px;
  }

  .medDaysText {
    font-size: 46px;
  }

  .medTrchunSc {
    width: 114px;
  }

  .medTalk {
    padding-top: 72px;
    height: 534px;

  }


  .medTalkWd {
    width: 260px;
    height: 190px;
  }

  .medTalkText {
    font-size: 16px;
  }

  .medTalkTextP {
    width: 238px;
    font-size: 10px;
  }
}




@media screen and (max-width:330px) {

  .medFormWd {
    width: 230px;
    font-size: 12px;
  }

  .medFormTextH {
    font-size: 16px;
  }

  .medForm {
    width: 270px;
    height: 370px;
  }

  .medFormText{
    font-size: 10px;
    height: 25px;
  }

  .medFormHg{
    height: 26px;
  }


  .medMapImgText {
    font-size: 14px;
  }

  .medMapImg1 {
    width: 272px;
  }

  .medMapImg2 {
    width: 302px;
  }

  .medQrText {
    font-size: 9px;
  }

  .medFlow {
    right: -364px;
  }

  .medTort {
    left: 0px;
    top: 688px;
  }

  .medBajak {
    right: 26px;
  }

  .medNamak {
    top: 350px;
    left: 23px;
  }


  .medTime {
    font-size: 28px;
  }

  .medTimeSm {
    font-size: 6px;
  }

  .medTimeP1 {
    font-size: 14px;
  }

  .medTr1 {
    left: 44px;
  }

  .medTr2 {
    left: 84px;
  }

  .medTimeP2 {
    font-size: 7px;
  }

  .medPesa {
    top: 202px;
    right: 11px;
  }

  .medEkexeci {
    top: 70px;
    left: 36px;
  }

  .medTrchun3 {
    left: -32px;
  }

  .medTrchun1 {
    left: -12px;
  }

  .medTrchun2 {
    right: -12px;
  }

  .medEkexeci2 {
    width: 90px;
    height: 172px;
  }

  .medPesa2 {
    width: 110px;
    height: 110px;
  }

  .medNamak2 {
    width: 116px;
    height: 94px;
  }

  .medBajak2 {
    width: 110px;
    height: 78px;
  }

  .medTort2 {
    width: 100px;
    height: 132px;
  }

  .medNkarText {
    font-size: 12px;
  }

  .medPar {
    width: 220px;
  }

  .medDaysText {
    font-size: 42px;
  }

  .medTrchunSc {
    width: 114px;
  }
}